---
layout: layouts/base.njk
eleventyNavigation:
  key: Portfolio
  order: 2
---
<h1>Portfolio</h1>

Here is some recent work.

<h1>Troubleshooting....</h1>

{% for post in collections.portfolio %}
<a href="{{post.data.url}}">
  <img class="portfolioImage" src="{{post.data.cover}}">
</a>
<h2> <a href="{{post.data.url}}">{{post.data.title}}</a></h2>
{% endfor %}

blah blah

